<div class="flex justify-between flex-wrap bg-green-100 sticky top-0 min-w-full">
    <div class="flex items-center">
        <button routerLink="/committees" class="flex items-center text-3xl text-black-800 font-extralight py-3 pl-3 pr-10 ">
        <img class="rounded-3xl max-h-12 max-w-12" src="../../../assets/OBT.jpeg"/>
        <h1 class="pl-3">OregonBigTree</h1>
        </button>
        <button class="header-button">
            Your Representatives
        </button>
        <button class="header-button">
            Committees
        </button>
        <button class="header-button">
            Upcoming Votes
        </button>
        <button class="header-button">
            Upcoming Meetings
        </button>
    </div>
    <button class="header-button">
        About
    </button> 
</div>