<div class="flex justify-between flex-wrap bg-green-100">
    <div class="flex items-center">
        <img class="rounded-3xl max-h-12 max-w-12" src="../../../assets/OBT.jpeg"/>
        <button class="text-3xl text-black-800 font-extralight py-3 pl-3 pr-10 ">
            Oregon Big Tree
        </button>
        <button class="header-button">
            Your Representatives
        </button>
        <button class="header-button">
            Committees
        </button>
        <button class="header-button">
            Upcoming Votes
        </button>
        <button class="header-button">
            Upcoming Meetings
        </button>
    </div>
    <button class="header-button">
        About
    </button> 
</div>