<div class="flex justify-center">
    <div class="w-1/3 p-10">
        <mat-card class="">
            <mat-calendar [(selected)]="selected" (selectedChange)="updateComp()"></mat-calendar>
        </mat-card>
    </div>

    <div class = "w-1/3 p-10">
        <div class="text-2xl text-gray-600 font-extralight pb-1"> Committee Meetings for {{ selected | date : 'MMMM dd'}}</div>
        <div *ngFor="let date of selectedarr" class="border h-[32rem] border-gray-400 bg-white rounded  p-4 max-h-[32rem] overflow-scroll">
            <app-meetinglist [selecteddate]="date">
            </app-meetinglist>
        </div>
    </div>

    <div class = "w-1/3 p-10">
        <div class="text-2xl text-gray-600 font-extralight pb-1"> Agenda Items for {{ selected | date : 'MMMM dd'}}</div>
    </div>
</div>