<div class="grid grid-cols-4 pt-1 gap-3">
    <div class="First">
        <div class="flex gap-1">
            <h1 class="text-xs font-extralight"> First Reading  </h1>
            <h1 *ngIf ="first" class="text-xs">  - {{ fday | date }}</h1>
        </div>
        <div *ngIf="first" >
            <div class="border border-gray-400 bg-senateColor rounded p-4">
            </div>
        </div>
        <div *ngIf="!first">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
    <div class="Second">
        <div class="flex gap-1">
            <h1 class="text-xs font-extralight"> Second Reading  </h1>
            <h1 *ngIf ="second" class="text-xs">- {{ sday | date }}</h1>
        </div>
        <div *ngIf="second">
            <div class="border border-gray-400 bg-senateColor rounded  p-4">
            </div>
        </div>
        <div *ngIf="!second">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
    <div class="Third">
        <div class="flex gap-1">
            <h1 class="text-xs font-extralight"> Third Reading  </h1>
            <h1 *ngIf ="third != 'not'" class="text-xs">- {{ thday | date }}</h1>
        </div>
        <div *ngIf="third=='pass'">
            <div class="border border-gray-400 bg-senateColor rounded  p-4">
            </div>
        </div>
        <div *ngIf="third=='nopass'">
            <div class="border border-gray-400 bg-red-400 rounded  p-4">
            </div> 
        </div>
        <div *ngIf="third=='not'">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
    <div class="Signed">
        <div class="flex gap-1">
            <h1 class="text-xs font-extralight"> Signed by Governor  </h1>
            <h1 *ngIf ="signed" class="text-xs">- {{ signday | date }}</h1>
        </div>
        <div *ngIf="signed">
            <div class="border border-gray-400 bg-senateColor rounded  p-4">
            </div>
        </div>
        <div *ngIf="!signed">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
</div>