<div class="grid grid-cols-4 pt-1 gap-3">
    <div class="First">
        <h1 class="text-xs font-extralight"> First Reading </h1>
        <div *ngIf="first">
            <div class="border border-gray-400 bg-senateColor rounded p-4">
            </div>
        </div>
        <div *ngIf="!first">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
    <div class="Second">
        <h1 class="text-xs font-extralight"> Second Reading</h1>
        <div *ngIf="second">
            <div class="border border-gray-400 bg-senateColor rounded  p-4">
            </div>
        </div>
        <div *ngIf="!second">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
    <div class="Third">
        <h1 class="text-xs font-extralight">Third Reading</h1>
        <div *ngIf="third=='pass'">
            <div class="border border-gray-400 bg-senateColor rounded  p-4">
            </div>
        </div>
        <div *ngIf="third=='nopass'">
            <div class="border border-gray-400 bg-red-400 rounded  p-4">
            </div> 
        </div>
        <div *ngIf="third=='not'">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
    <div class="Signed">
        <h1 class="text-xs font-extralight">Signed by Governor</h1>
        <div *ngIf="signed">
            <div class="border border-gray-400 bg-senateColor rounded  p-4">
            </div>
        </div>
        <div *ngIf="!signed">
            <div class="border border-gray-400 bg-white rounded  p-4">
            </div> 
        </div>
    </div>
</div>